<component name="libraryTable">
  <library name="Spring-4.2.9.RELEASE" type="spring">
    <properties version="4.2.9.RELEASE" />
    <CLASSES>
      <root url="file://$PROJECT_DIR$/web/WEB-INF/lib" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
    <jarDirectory url="file://$PROJECT_DIR$/lib" recursive="false" />
  </library>
</component>